<%= form_for(producer) do |f| %>
  <% if producer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producer.errors.count, "error") %> prohibited this producer from being saved:</h2>

      <ul>
      <% producer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :discription %>
    <%= f.text_area :discription %>
  </div>

 <div class="form-group">
    <%= f.select :category_id, @categories.collect { |c| [c.name, c.id]}, {include_blank: "Please select a category"} %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= f.label :location_id %>
    <%= f.hidden_field :location_id, value: @location.id %>

  <%= render 'form', location: @location %>  

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
