<p id="notice"><%= notice %></p>


<div class="center_it">

  <h2><p style="margin:30px;">Some local food near you</p></h2>
</div>

<div id="index-map"></div>

<div class="center_it">
    
    <% @locations.each do |location| %>
        <div><h2><%= link_to location.name, location %></h2>
        <p><%= location.street %>
        <%= location.city %>
        <%= location.state %></p>
        <p><%= location.category.name %></p>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></p>
        
        <%if user_signed_in? && current_user.role == "admin" %>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
    <% end %></div>
 </div>



<br>
<% if user_signed_in? %>
Know where to find a local food provayor? Add a <%= link_to 'New Location', new_location_path %>
<%else%>
Know where to find a local food provayor? <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Sign In', user_session_path%> to add a location.
<%end%>

<%= javascript_tag "var arr = #{@locations.to_json}" %>

<script>
$(document).ready(function(){
  renderMap(document.getElementById("index-map"), arr[0], arr, 11)
})

var xhr = new XMLHttpRequest();
xhr.open('POST', 'https://www.googleapis.com/geolocation/v1/geolocate?key=<%= Figaro.env.google_api_key %>');
xhr.send(null);
</script>


