<p id="notice"><%= notice %></p>

<div class="center_it">

  <h3><p style="margin:30px;">Some local food near you</p></h3>
</div>



<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.street %></td>
        <td><%= location.city %></td>
        <td><%= location.state %></td>
        <td><%= location.category.name %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="index-map"></div>

<br>

Know a where to find a local food provayor? Add a <%= link_to 'New Location', new_location_path %>


<%= javascript_tag "var arr = #{@locations.to_json}" %>

<script>
$(document).ready(function(){
  renderMap(document.getElementById("index-map"), arr[0], arr, 11)
})
</script>
