<p id="notice"><%= notice %></p>
<div class="center_it">
  <h2><%= @location.name %></h2>
</p>
<p>

  <h3><%= @location.description %></h3>
</p>
<p>
<strong>Address</strong>
<%= @location.address %>

</div>
<div id="location-map"></div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<script>
    $(document).ready(function() {
        renderMap(document.getElementById("location-map"), {
            latitude: "<%= j @location.latitude.to_s %>",
            longitude: "<%= j @location.longitude.to_s %>",
        })
    })
</script>