<p id="notice"><%= notice %></p>

  <h3><%= @location.name %></h3>
</p>
<p>

  <h4><%= @location.description %></h4>
</p>
<p>
<strong>Address</strong>
<%= @location.address %>

<%= @location.latitude %>
<%= @location.longitude %>


<div id="location-map"></div>




<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>


<%= javascript_tag do %>
   var latitude = "<%= j @location.latitude.to_s %>";
   var longitude = "<%= j @location.longitude.to_s %>";
   var address = "<%= j @location.city %>";
<% end %>