<p id="notice"><%= notice %></p>
<div class="center_it">
  <h2><%= @location.name %></h2>
</p>
<p>

  <h3><%= @location.description %></h3>
</p>
<p>
<%= @location.address %>

</div>
<div id="location-map"></div>
Something wrong? <%= link_to "Request change", edit_location_path(@location) %> here.

<%if user_signed_in? && current_user.role == "admin" %>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%end%>
<p><%= link_to 'Back', locations_path %></p>

<script>
    $(document).ready(function() {
        renderMap(document.getElementById("location-map"), {
            latitude: "<%= j @location.latitude.to_s %>",
            longitude: "<%= j @location.longitude.to_s %>",
        })
    })
</script>